@use '../styles/variables' as *;

.pageWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.header {
  flex: 0 0 50px;
  z-index: 10;
}

.footer {
  flex: 0 0 40px;
  text-align: center;
  padding: 0 0 1rem 0;
  z-index: 10;
}

.main {
  flex: 1 1 auto;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: $beige;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $blue;
    border-radius: 5px;
    border: 2px solid $beige;
  }

  scrollbar-width: thin;
  scrollbar-color: $blue $beige;
}
